<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <!-- Tell the browser to be responsive to screen width -->
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta http-equiv="x-ua-compatible" content="ie=edge" />
  <title layout:title-pattern="$LAYOUT_TITLE - $CONTENT_TITLE">SpringBoot AdminLTE 3</title>

  <!-- Font Awesome -->
  <link rel="stylesheet" th:href="@{/plugins/fontawesome-free/css/all.min.css}" />
  <!-- Ionicons -->
  <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" />
  <!-- Tempusdominus Bbootstrap 4 -->
  <link rel="stylesheet" th:href="@{/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css}" />
  <!-- iCheck -->
  <link rel="stylesheet" th:href="@{/plugins/icheck-bootstrap/icheck-bootstrap.min.css}" />
  <!-- JQVMap -->
  <link rel="stylesheet" th:href="@{/plugins/jqvmap/jqvmap.min.css}" />
  <!-- Theme style -->
  <link rel="stylesheet" th:href="@{/dist/css/adminlte.min.css}" />
  <!-- overlayScrollbars -->
  <link rel="stylesheet" th:href="@{/plugins/overlayScrollbars/css/OverlayScrollbars.min.css}" />
  <!-- Daterange picker -->
  <link rel="stylesheet" th:href="@{/plugins/daterangepicker/daterangepicker.css}" />
  <!-- summernote -->
  <link rel="stylesheet" th:href="@{/plugins/summernote/summernote-bs4.css}" />
  <!-- Google Font: Source Sans Pro -->
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet" />
</head>

<body class="hold-transition sidebar-mini">
<div class="wrapper">
    <!-- Navbar -->
	<div th:replace="~{fragment/Navbar :: Navbar}">Navbar</div>
	<!-- /.navbar -->
	
	<!-- Main Sidebar Container -->
	<div th:replace="~{fragment/MainSidebar :: MainSidebar}">MainSidebar</div>
	<!-- /.main-sidebar -->

	<!-- Content Wrapper. Contains page content -->
	<div class="content-wrapper">
		<!-- Content Header (Page header) -->
		<section class="content-header" layout:fragment="ContentHeader"></section>
		<!-- /.content-header -->

        <!-- Flash Message -->
		<div th:if="${successFlash != null && successFlash.trim() != ''}" class="alert alert-success alert-dismissible">
			<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
			<p th:text="${successFlash}"></p>
		</div>
		<div th:if="${errorFlash != null && errorFlash.trim() != ''}" class="alert alert-danger alert-dismissible">
			<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
			<p th:text="${errorFlash}"></p>
		</div>
		<div th:if="${infoFlash != null && infoFlash.trim() != ''}" class="alert alert-info alert-dismissible">
			<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
			<p th:text="${infoFlash}"></p>
		</div>
		<!-- /.flash-message -->

		<!-- Main content -->
		<div layout:fragment="ContentBody"></div>
		<!-- /.content-body -->
	</div>
	<!-- /.content-wrapper -->

	<!-- Control Sidebar -->
	<div th:replace="~{fragment/ControlSidebar :: ControlSidebar}">ControlSidebar</div>
	<!-- /.control-sidebar -->
  
	<!-- Main Footer -->
	<div th:replace="~{fragment/MainFooter :: MainFooter}">MainFooter</div>
	<!-- /.main-footer -->
</div>
<!-- ./wrapper -->

<!-- jQuery -->
<script th:src="@{/plugins/jquery/jquery.min.js}"></script>
<!-- jQuery UI 1.11.4 -->
<script th:src="@{/plugins/jquery-ui/jquery-ui.min.js}"></script>
<!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
<script>$.widget.bridge('uibutton', $.ui.button)</script>
<!-- Bootstrap 4 -->
<script th:src="@{/plugins/bootstrap/js/bootstrap.bundle.min.js}"></script>
<!-- ChartJS -->
<script th:src="@{/plugins/chart.js/Chart.min.js}"></script>
<!-- Sparkline -->
<script th:src="@{/plugins/sparklines/sparkline.js}"></script>
<!-- JQVMap -->
<script th:src="@{/plugins/jqvmap/jquery.vmap.min.js}"></script>
<script th:src="@{/plugins/jqvmap/maps/jquery.vmap.usa.js}"></script>
<!-- jQuery Knob Chart -->
<script th:src="@{/plugins/jquery-knob/jquery.knob.min.js}"></script>
<!-- daterangepicker -->
<script th:src="@{/plugins/moment/moment.min.js}"></script>
<script th:src="@{/plugins/daterangepicker/daterangepicker.js}"></script>
<!-- Tempusdominus Bootstrap 4 -->
<script th:src="@{/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js}"></script>
<!-- Summernote -->
<script th:src="@{/plugins/summernote/summernote-bs4.min.js}"></script>
<!-- overlayScrollbars -->
<script th:src="@{/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js}"></script>
<!-- AdminLTE App -->
<script th:src="@{/dist/js/adminlte.js}"></script>
<!-- AdminLTE dashboard demo (This is only for demo purposes) -->
<script th:src="@{/dist/js/pages/dashboard.js}"></script>
<!-- AdminLTE for demo purposes -->
<script th:src="@{/dist/js/demo.js}"></script>
</body>
</html>
